.swiper-pagination-bullet {
    width: 8px; /* Set the width of the dot */
    height: 8px; /* Set the height of the dot */
    background-color: black; /* Set the color of the dot */
    margin: 0 5px; /* Adjust the spacing between dots */
    border-radius: 50%; /* Make the dot round */
  }
  
  .swiper-pagination-bullet-active {
    background-color: rgb(0, 0, 0); /* Set the color of the active dot */
  }
  /* .swiper-slide-next {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
  } */

  